<!-- index page to show cate table -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dupes</title>
  </head>
  <body>
    <p>Categories</p>
    {{#each cate}}
    <a href="brands/{{id}}">{{category}}</a>
    {{/each}}
  </body>
</html>


<!-- <ul>
  <table style="width=100%", border="1">
  {{#each users}}
  <tr><td><a href="profile/{{id}}">{{name}}</a></td>
  <td>{{email}}</td></tr>
  {{/each}}
  </table>
</ul> -->
